<h2>Hello from default template</h2><br/>
<div><strong>output:</strong><br/> 
<% for(var k in data) { %>
	<div><strong>key: <%= k %></strong>, value: <%= JSON.stringify(data[k]) %></div><br/><br/>
<% }; %>
</div><br/>
<strong>----- TEMPLATE END -----</strong><br/><br/><br/>
