<ul>
<ol>cases: 
<% _.each(menu["cases"], function(el, index) { %>
	<li><%= el %></li>
<% }); %>
</ol>
<br />
<br />
<ol>about: 
<% _.each(menu["about"], function(el, index) { %>
	<li><%= el %></li>
<% }); %>
</ol>
<br />
<br />
<ol>contact: 
<% _.each(menu["contact"], function(el, index) { %>
	<li><%= el %></li>
<% }); %>
</ol>
</ul>
